$fs-base: 16px;
$fs-giga: 80px;
$fs-mega: 70px;
$fs-kilo: 60px;
$fs-h1: 36px;
$fs-h2: 32px;
$fs-h3: 28px;
$fs-h4: 24px;
$fs-h5: 20px;
$fs-h6: 18px;
$fs-milli: 14px;
$fs-micro: 10px;
$fs-nano: 8px;

$grey-0: #000000;
$grey-20: #333333;
$grey-26: #434343;
$grey-45: #737373;
$grey-47: #787878;
$grey-56: #8f8f8f;
$grey-60: #9a9a9a;
$grey-66: #a8a8a8;
$grey-93: #eeeeee;
$grey-100: #FFFFFF;